.home-presentation {
  & > * + * {
    margin-top: $space-6;
  }
}

.home-presentation__title {
  font-size: $text-4xl;
  font-weight: $font-bold;
  font-family: $title-font;
  line-height: $leading-none;
}

.home-presentation__links {
  display: flex;
  justify-content: center;
  gap: $space-6;
}
